[submodule "isaac_ros-dev/src/isaac_ros_common"]
	path = isaac_ros-dev/src/isaac_ros_common
	url = https://github.com/AoboJaing/isaac_ros_common.git
[submodule "isaac_ros-dev/src/ros2_ws"]
	path = isaac_ros-dev/src/ros2_ws
	url = https://github.com/AoboJaing/ros2_ws
	branch = main
[submodule "isaac_ros-dev/src/rbe_ws"]
	path = isaac_ros-dev/src/rbe_ws
	url = https://github.com/AoboJaing/The_Robotics_Back_End_ws
	branch = main
